@font-face {
    font-family: 'summeronregular';
    src: url('summeron-webfont.woff2') format('woff2'),
         url('summeron-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}